/* Reset de estilos */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Estilos de la cabecera */

header {
	background-color: #1416af;
	color: #00ec14b0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;
}

.logo {
	flex: 1;
}

nav ul {
	display: flex;
	list-style: none;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #ff000073;
	text-decoration: none;
	color:#00ec14b0
}

/* Estilos de la sección de juegos destacados */

.juegos-destacados {
	padding: 50px;
	background-color: #2e2e2e;
}

.juegos-destacados h2 {
	color: #00ec14b0;
	margin-bottom: 30px;
	text-align: center;
	font-size: 32px;
}

.juego {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}

.juego img {
	width: 100%;
	max-width: 400px;
}

.juego h3 {
	color: #fff;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.juego p {
	color: #ccc;
	text-align: center;
	margin-bottom: 20px;
}

.boton-descarga {
	display: inline-block;
	padding: 10px 20px;
	background-color: #ee5e5e;
	color: #fff;
	border-radius: 5px;
	font-size: 18px;
	text-decoration: none;
}

.boton-descarga:hover {
	background-color: #c43434;
}

/* Estilos de la sección de nuevos lanzamientos */

.nuevos-lanzamientos {
	padding: 50px;
	background-color: #4d4d4d;
}

.nuevos-lanzamientos h2 {
	color: #fff;
	margin-bottom: 30px;
	text-align: center;
	font-size: 32px;
}

/* Estilos de la sección de descargas */

section {
	padding: 50px;
	background-color: #1c1c1c;
	color: #fff;
}

section h2 {
	color: #fff;
	margin-bottom: 30px;
	text-align: center;
	font-size: 32px;
}

section p {
	text-align: center;
	margin-bottom: 20px;
}

ul {
	list-style: none;
}

ul li {
	margin-bottom: 10px;
}

ul li a {
	color:#00ec14b0;
	text-decoration: none;
	font-size: 20px;
}

ul li a:hover {
	color: #fff;
}

footer {
	background-color: #aa1e1ea1;
	color: #000000;
	padding: 10px;
	text-align: center;
}